.card
{
    width:100%;
    display:flex;
    justify-content: center;

}

.homework-1
{
    width:350px;
    height: 200px;
    margin: 20px;
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 10px 0px lightgray;
    border-radius: 10px;
}


.container1
{
    width:100%;
    display:flex;
    justify-content: center;

}

.contentbox1
{
    width:350px;
    height: 200px;
    margin: 20px;
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 10px 0px lightgray;
    border-radius: 10px;
}

.contentbox1 h2{
    color: black;
    margin: 20px;
}

.contentbox1 p{
    color: black;
    margin: 20px;
}


.container2
{
    width:100%;
    display:flex;
    justify-content: left;

}

.contentbox2
{
    width:350px;
    height: 200px;
    margin: 20px;
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 10px 0px lightgray;
    border-radius: 10px;
}

.contentbox2 h2{
    color: black;
    margin: 20px;
}

.contentbox2 p{
    color: black;
    margin: 20px;
}
 
* {
    margin: 0;
    padding: 0;

}
.box{
    width: 400px;
    height: 200px;
    background-color: skyblue ;
    text-align: center;
}

 
